/**
  * GLOBAL
  */

    .list-container{
      list-style: none;
      padding-left: 0;
      list-style:none;
      display: table;
      width:100%;
    
      border-radius: 25px;
      /* border-collapse: collapse; */
}
  
/**
  * HEADER & FOOTER
  */
    .list-head {
        display:table-row; /*<tr>*/
        /*background-color: rgb(207, 207, 207);*/
        height: 30px;
        background: rgb(224,224,224);
        background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(207,207,207,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(207,207,207,1)));
        background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(207,207,207,1) 100%);
        background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(207,207,207,1) 100%);
        background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(207,207,207,1) 100%);
        background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(207,207,207,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cfcfcf',GradientType=0 );

        /* margin-bottom: 15px; */
    
        padding-left: 10px;
}
    .list-foot{
        display:table-row;
        /*background-color: rgb(207, 207, 207);*/
        background: rgb(207,207,207);
        background: -moz-linear-gradient(top,  rgba(207,207,207,1) 3%, rgba(224,224,224,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(207,207,207,1)), color-stop(100%,rgba(224,224,224,1)));
        background: -webkit-linear-gradient(top,  rgba(207,207,207,1) 3%,rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(top,  rgba(207,207,207,1) 3%,rgba(224,224,224,1) 100%);
        background: -ms-linear-gradient(top,  rgba(207,207,207,1) 3%,rgba(224,224,224,1) 100%);
        background: linear-gradient(to bottom,  rgba(207,207,207,1) 3%,rgba(224,224,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#e0e0e0',GradientType=0 );

        height: 30px;
    
        /* border: 2px solid black !important; */
        margin-top: 8px;
        /* border-collapse: collapse; */
}
  
      /**
      * List Header Rounded Corners
      */
          .list-head div:first-child{
             border-top-left-radius: 10px;
          }
          .list-head div:last-child{
             border-top-right-radius: 10px;
          }
          .list-row div div{ /*vertical space between rows*/
            padding-top:5px;
            padding-bottom:5px;
          }
      /**
       * List Footer Rounded Corners
       */
          .list-foot div:first-child{
            border-bottom-left-radius: 10px;
          }
          .list-foot div:last-child{
            border-bottom-right-radius: 10px;
          }
          .list-row div div{ /*vertical space between rows*/
            padding-top: 7px;
            padding-bottom: 3px;
          }


  
  
/**
  * LIST ROW
  */  
    .list-row{
        display:table-row;  
        padding:0;
        margin:0;
        transition-property: background-color;
        transition-duration: 0.25s;
        transition-timing-function: ease-in-out;
    }

    .list-row:hover{
        background-color:rgb(255, 253, 203) !important;
    }

    .list-row:active{
        color:green;
    }
  
    /**
     * Toggle Row Background Color (even / odd)
     */
        .list-container a:nth-child(odd) {
          background:rgb(250, 250, 250);
        }

        .list-container a:nth-child(even) {
          background:rgb(255, 255, 239);
        }
 
  
/**
  * LIST CONTENT
  */
    .list-row div, .list-head div, .list-foot div {/*left padding*/
        display:table-cell; /*td*/  
        vertical-align: middle;
    }

    .list-row >div{
      border-bottom: rgb(207, 207, 207) 1px solid;
      border-left: rgb(207, 207, 207) 1px solid;

    }
    .list-row >div:last-child {
      border-right: rgb(207, 207, 207) 1px solid;
    }
  

/**
  * PADDING LEFT
  */
    .list-head div div, .list-row div div, .list-foot div div{
      padding-left:10px;
    }



